
.end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px 40px 0px;
}

.end > p{
    text-align: left;
}

.text > h1{
    text-align: right;
}

.text > p{
    text-align: right;
}

